.image,
.frame,
.text {
    position: absolute;
}

.image {
    width: 1064px;
    z-index: 1;
}

.frame {
    width: 1064px; /* 1024 + border */
    height: 562px; /* 512 + border */
    border: 20px solid rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.text {
    text-shadow: .04em .04em 0 rgba(0, 0, 0, 0.37);
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: #efedce;
    font-size: 4rem;
    z-index: 3;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
   height: 60rem;
 }

 footer.page-footer {
     margin-top: 0;
 }
